<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Navegação</title>
    <link rel="stylesheet" href="planejamento.component.css">
</head>

<body>
  <div class="container">
    <nav class="sidebar">
      <a href="#metodologia">Metodologia</a>
      <a href="#ferramentas">Ferramentas e Tecnologia</a>
      <a href="#cronograma">Cronograma</a>
    </nav>

    <main class="content">
      <section id="metodologia">
        <h2>Metodologia</h2>
        <p>Conteúdo da metodologia...</p>
      </section>

      <section id="ferramentas">
        <h2>Ferramentas e Tecnologia</h2>
        <p>Conteúdo da parte 1...</p>
      </section>

      <section id="cronograma">
        <h2>Cronograma</h2>
        <p>Conteúdo da parte 2...</p>
      </section>
    </main>

  </div>
</body>
</html>
