<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-navbar px-4 shadow-sm">
  <a class="text-navbar" href="#">
    <img src="#" alt="" height="40" class="me-2">
    WILE
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
          data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <ul justify-content: space-around></ul>
      <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/elicitacao">Elicitação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/planejamento">Planejamento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/modelagem">Modelagem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/prerastreabilidade">Pré-Rastreabilidade</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/sobre">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/termosdeuso">Termos de Uso</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/entregafinal">Entrega Final</a>
        </li>
    </ul>
  </div>
</nav>
