<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Navegação</title>
    <link rel="stylesheet" href="modelagem.component.css">
</head>

<body>
    <div class="container">
        <nav class="sidebar">
            <a href="#mhistoriadousuario">História do Usuário</a>
            <a href="#casosdeuso">Casos de Uso</a>
            <a href="#diagramadeclasses">Diagrama de Classes</a>
            <a href="#diagramadesequencia">Diagrama de Sequência</a>
            <a href="#backlog">Backlog</a>
        </nav>

        <main class="content">
            <section id="mhistoriadousuario">
                <h2>História do Usuário</h2>
                <p>Conteúdo da história do usuário...</p>
            </section>

            <section id="casosdeuso">
                <h2>Casos de Uso</h2>
                <p>Conteúdo da parte 1...</p>
            </section>

            <section id="diagramadeclasses">
                <h2>Diagrama de Classes</h2>
                <p>Conteúdo da parte 2...</p>
            </section>

            <section id="diagramadesequencia">
                <h2>Diagrama de Sequência</h2>
                <p>Conteúdo da parte 3...</p>
            </section>
            <section id="backlog">
                <h2>Backlog</h2>
                <p>Conteúdo da parte 4...</p>
            </section>
        </main>

    </div>
</body>

</html>